[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group rdo-delorean
	owner = group user/Alan Pevec (apevec)
[access "refs/for/refs/*"]
	read = group user/Alan Pevec (apevec)
	push = deny group Registered Users
	submit = deny group Registered Users
[access "refs/heads/*"]
	read = group user/Alan Pevec (apevec)
	create = group user/Alan Pevec (apevec)
[project]
	state = hidden
