[access "refs/*"]
  read = group DLRN-core
  owner = group DLRN-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group DLRN-core
    label-Code-Review = -2..+2 group DLRN-ptl
    label-Verified = -2..+2 group DLRN-ptl
    label-Workflow = -1..+1 group DLRN-core
    label-Workflow = -1..+1 group DLRN-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group DLRN-ptl
    read = group DLRN-core
    read = group Registered Users
[access "refs/meta/config"]
    read = group DLRN-core
    read = group Registered Users
[access "refs/tags/*"]
    read = group DLRN-core
    read = group Registered Users
    push = group DLRN-ptl
    forgeCommitter = group DLRN-ptl
	createSignedTag = group DLRN-ptl
[receive]
    requireChangeId = true
[submit]
    mergeContent = true
[project]
        description = DLRN Continuous Delivery platform for OpenStack Packages
