pbr>=0.5.6
Jinja2
sh>=1.12.6
six
SQLAlchemy<1.4.0;python_version=='2.7'
SQLAlchemy;python_version>='3.3'
PyMySQL!=1.0.0
PyYAML
rdopkg>=0.45.0
distroinfo
alembic>=0.7.0,!=1.4.2
renderspec<2.0.0;python_version=='2.7'
renderspec;python_version>='3.3'
pymod2pkg>=0.5.5
requests
Flask
Flask-HTTPAuth
passlib>=1.6.5
graphene>=2.1.3
graphene-sqlalchemy>=2.0
flask-sqlalchemy
flask-graphql
prometheus-client
