pbr>=0.5.6
Jinja2
sh<2.0.0
six
SQLAlchemy<1.4.0;python_version=='2.7'
SQLAlchemy;python_version>='3.3'
PyMySQL!=1.0.0
PyYAML
rdopkg>=0.45.0,<1.5.0;python_version<'3.3'
rdopkg>=0.45.0;python_version>'3.3'
distroinfo
alembic>=0.7.0,!=1.4.2
renderspec<2.0.0;python_version=='2.7'
renderspec;python_version>='3.3'
pymod2pkg>=0.5.5
requests
Flask
Flask-HTTPAuth<4.4.0;python_version=='2.7'
Flask-HTTPAuth;python_version>='3.3'
passlib>=1.7.0
graphene<3.0
graphene-sqlalchemy>=2.0
flask-sqlalchemy
flask-graphql
prometheus-client
pyOpenSSL<22.0.0;python_version=='2.7'
