pbr>=0.5.6
Jinja2
sh>=1.12.6
six
SQLAlchemy
PyMySQL
PyYAML
rdopkg>=0.45.0
distroinfo
alembic>=0.7.0
renderspec<2.0.0;python_version=='2.7'
renderspec;python_version>='3.3'
pymod2pkg>=0.5.5
requests
Flask
Flask-HTTPAuth
passlib>=1.6.5
