<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ project_name }} Packaging By DLRN</title>
    <link rel="stylesheet" href="styles.css">
    <!-- patternfly v3 -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <!-- datatables -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script>
  </head>
  <body>
    <h1>
      <i class='fa fa-chevron-circle-right pull-left'></i>
      {{ reponame | capitalize }} - {{ target | capitalize }} ({{ src }})
    </h1>
    <table id="dlrn">
      <thead>
        <tr>
          <th>Build Date Time</th>
          <th>Commit Date Time</th>
          <th>Project Name</th>
          <th>Commit Hash</th>
          <th>Component</th>
          <th>Status</th>
          <th>Repository</th>
          <th>Build Log</th>
        </tr>
      </thead>
      {% for commit in commits %}
        <tr {% if commit.status == "SUCCESS" %}class="success"{% endif %}>
          <td>{{ commit.dt_build | strftime }}</td>
          <td>{{ commit.dt_commit | strftime }}</td>
          <td>{{ commit.project_name }}</td>
          <td class="commit">
            <i class="fa fa-git pull-left"></i>
            <i>
              <a href="{{ commit | get_commit_url }}{{ commit.commit_hash }}">
                {{ commit.commit_hash }}
                </a>
          </td>
          <td>{{ commit.component }}</td>
          <td>
            {% if commit.status == "SUCCESS"  %}
              <i class="fa fa-link pull-left" style="color:#004153"></i>SUCCESS
            {% else %}
              <i class="fa fa-link pull-left" style="color:red"></i>FAILED
            {% endif %}
          </td>
          <td>
            <i class="fa fa-link pull-left" style='color:#004153'></i>
            <a href="{{ commit.getshardedcommitdir() }}">repo</a>
          </td>
          <td>
            <a href="{{ commit.getshardedcommitdir() }}/rpmbuild.log">build log</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <script>
        $(document).ready( function () {
            $('#dlrn').DataTable({
              "paging": false
            });
         } );
    </script>
  </body>
</html>
