@import url(http://openshift.redhat.com/app/assets/overpass.css);
@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.0/css/font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500);

#delorean {
    font-family: Overpass, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#delorean td, #delorean th {
    font-size: 1em;
    border: 1px solid #7F0A0C;
    padding: 3px 7px 2px 7px;
}

#delorean th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #7F0A0C;
    color: #ffffff;
}
#delorean tr.success td {
    color: #000000;
    background-color: #EAF2D3;
}
