<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RDO Packaging By Delorean</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <h1>
      <i class='fa fa-chevron-circle-right pull-left'></i>
      {{ reponame | capitalize }} - {{ target | capitalize }} ({{ src }})
    </h1>
    <table id="delorean">
      <tr>
        <th>Project Name</th>
        <th>Status</th>
        <th>First failure after success {{ msg }}</th>
        <th>Number of days since last success</th>
      </tr>
      {% for package in packages %}
        <tr {% if package["last_build"].status == "SUCCESS" %}class="success"{% endif %}>
          <td>{{ package["name"] }}</td>
          {% if package["last_build"].status == "SUCCESS"  %}
            <td>
              <i class="fa fa-thumbs-o-up pull-left" style="color:green"></i>
              <a href="{{ package["last_build"].getshardedcommitdir() }}/rpmbuild.log">SUCCESS</a>
            </td>
            <td></td>
            <td></td>
          {% else %}
            <td>
              <i class="fa fa-thumbs-o-down pull-left" style="color:red"></i>
              <a href="{{ package["last_build"].getshardedcommitdir() }}/rpmbuild.log">FAILED</a>
            </td>
            <td>
              {% if "first_failure" in package %}
                <i class="fa fa-git pull-left"></i>
                <a href="{{ package["first_failure"] | get_commit_url }}{{ package["first_failure"].commit_hash }}">{{ package["first_failure"].commit_hash }}</a> (<a href="{{package["first_failure"].getshardedcommitdir() }}/rpmbuild.log">build log</a>)
              {% else %}
                ??????
              {% endif %}
            </td>
            <td>
              {% if package["days"] == -1 %}
                Never
              {% else %}
                {{ package["days"] }} days
              {% endif %}
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
